.idea
.DS_Store

.env

node_modules/
yarn-error.log

build/
dist/

produits/
Projet-but3-2024.excalidraw

ecosystem.config.js
deploy.key

coverage
coverage.txt
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/


Projet-but3-2024.excalidraw
projet-but3-2024.excalidrawlib
problem_file.md